<div id="app">
  <h1>{{ people.length }}</h1>
  <div v-for="person in people">
    <h2 v-on:click="toggleBio(person)">{{ person.name }}</h2>
    <h3 v-bind:class="{strike: person.bioVisible}">{{ person.bio }}</h3>
    <p v-on:click="deletePerson(people.indexOf(person))">Delete Person</p>
  </div>
  {{ people.length }}

  <ul>
    <li v-for="error in errors"> {{ error }} </li>
  </ul>
  <input v-model="newName">
  <input v-model="newBio">
  <button v-on:click="addPerson()">Add Person</button>
</div>
